* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus-visible,
[role='button']:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: 2px solid theme('colors.sky.400');
  outline-offset: 2px;
}
