@import "tailwindcss";


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outlet-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  /* padding: 50px 80px; */
  min-height: calc(100vh - 274px);
}


.react-flow__edge,
.react-flow__edge-path {
    opacity: 1 !important;
    stroke-opacity: 1 !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
