.container__header{
    display: flex;
    width: fit-content;
    align-items: center;
    margin:0 auto;
    border:2px solid #00aeff;
    background-color: #e7ecee44;
    margin-top:30px;
    border-radius: 5px;
    padding:10px 15px;
    column-gap: 15px;
}
.title__channel{
    font-size: 16px;
}
.logo__channel{
    width: 80px;
}
.button__back{
    border: 1px solid red;
    border-radius: 5px;
    margin-top:15px;
    padding:5px 10px;
    font-weight: 600;
    transition: .5s all ease;
}
.button__back:hover{
    border: 1px solid #fff;
    color:#fff;
    background: red;
}