.container__header{
    display: flex;
    width: fit-content;
    align-items: center;
    margin:0 auto;
    border:2px solid #00aeff;
    background-color: #e7ecee6e;
    margin-top:30px;
    border-radius: 5px;
    padding:10px 15px;
    column-gap: 15px;
}
.title__channel{
    font-size: 16px;
}
.logo__channel{
    width: 80px;
}